<html>
    <head>
        <title>Home Work</title>
    </head>
    <body>
        <h1>Home Work #_</h1>
        <br/>

        <h2>Required</h2>
        <ol>
            <li>
                <h3>
                    <a href="./tasks/required/task1.html">Task #1</a>
                </h3>
                <p>
                </p>
            </li>

            <li>
                <h3>
                    <a href="./tasks/required/task2.html">Task #2</a>
                </h3>
                <p>
                </p>
            </li>

            <li>
                <h3>
                    <a href="./tasks/required/task3.html">Task #3</a>
                </h3>
                <p>
                </p>
            </li>

            <li>
                <h3>
                    <a href="./tasks/required/task4.html">Task #4</a>
                </h3>
                <p>
                </p>
            </li>

            <li>
                <h3>
                    <a href="./tasks/required/task5.html">Task #5</a>
                </h3>
                <p>
                </p>
            </li>

            <li>
                <h3>
                    <a href="./tasks/required/task6.html">Task #6</a>
                </h3>
                <p>
                </p>
            </li>

            <li>
                <h3>
                    <a href="./tasks/required/task7.html">Task #7</a>
                </h3>
                <p>
                </p>
            </li>

            <li>
                <h3>
                    <a href="./tasks/required/task8.html">Task #8</a>
                </h3>
                <p>
                </p>
            </li>

            <li>
                <h3>
                    <a href="./tasks/required/task9.html">Task #9</a>
                </h3>
                <p>
                </p>
            </li>
            
            <li>
                <h3>
                    <a href="./tasks/required/task10.html">Task #10</a>
                </h3>
                <p>
                </p>
            </li>
        </ol>
        <br/>

        <h2>Optional</h2>
        <ol>
            <li>
                <h3>
                    <a href="./tasks/optional/task1.html">Task #1</a>
                </h3>
                <p>_description_</p>
            </li>
        </ol>
        <br/>
    </body>
</html>